@import "tailwindcss";

:root {
  --background: #f3eeeebd;
  --foreground: #292727;
  --muted: #e1e1e1;
  --muted-foreground: #6b7280;
  --border: #cfcfcf;
  --accent-blue: #2563eb;
  --accent-blue-hover: #1d4ed8;
  --accent-blue-light: #dbeafe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-accent: var(--accent-blue);
  --color-accent-hover: var(--accent-blue-hover);
  --color-accent-light: var(--accent-blue-light);
  --font-sans: system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--accent-blue-light);
  color: #1e1b1b;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--muted);
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
button:active{
  transform: scale(1);
  transition: all 0.3s ease;
}
button:hover{
  transform: scale(1.02);
  transition: all 0.3s ease;
}
